@import "tailwindcss";

@theme {
  --color-ff7-blue: #082354;
  --color-ff7-panel: #1353bd;
  --color-ff7-border: #cfcfcf;
  --color-ff7-text: #e8f4ff;
  --color-ff7-accent: #6fb7ff;

  --font-ff7: Verdana, Arial, sans-serif;

  --text-ff7: 12px;

  --shadow-ff7: inset 0 0 0 2px #cfcfcf;
}

@keyframes ff7-limit-flash {
  0% {
    background-color: #dfb3be;
  }

  50% {
    background-color: #d6e7b8;
  }

  100% {
    background-color: #dfb3be;
  }
}

/* FF7 Custom Scrollbar */
::-webkit-scrollbar {
  width: 12px;
  /* Width of the scrollbar */
  height: 12px;
  /* Height for horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #35302c;
  /* Dark FF7 panel background */
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: #1353bd;
  /* Bright FF7 blue */
  border-radius: 6px;
  border: 3px solid #35302c;
  /* Padding to create border effect */
}

::-webkit-scrollbar-thumb:hover {
  background: #417bd8;
  /* Orange hover effect */
}

::-webkit-scrollbar-corner {
  background: #35302c;
  /* Corner where vertical and horizontal meet */
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

.flash-cursor {
  animation: blink 1s step-start infinite;
}

@keyframes rotate-phone {
  0% {
    transform: rotate(0deg);
  }

  30% {
    transform: rotate(90deg);
  }

  /* pause at landscape */
  70% {
    transform: rotate(90deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  20% {
    transform: translateY(0);
    opacity: 1;
  }
  80% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.animate-slide-down {
  animation: slide-down 10s ease-in-out forwards;
}
